<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <img src="assets/layout/images/logoA2-dark.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <img src="assets/layout/images/avatar.png" alt="Image" style="height: 70px; border-radius:50%" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Réinitialisation de mot de passe</div>
          <span class="text-600 font-medium">Entrez votre nouveau mot de passe</span>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="newPassword" class="block text-900 text-xl font-medium mb-2">Nouveau mot de passe</label>
            <input id="newPassword" formControlName="newPassword" type="password"
                   placeholder="Entrez votre nouveau mot de passe" pInputText class="w-full md:w-30rem mb-5"
                   style="padding:1rem">
          </div>
          <div>
            <label for="confirmPassword" class="block text-900 text-xl font-medium mb-2">Confirmer le mot de
              passe</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password"
                   placeholder="Confirmez votre nouveau mot de passe" pInputText class="w-full md:w-30rem mb-5"
                   style="padding:1rem">
          </div>
          <button pButton pRipple label="Réinitialiser" class="w-full p-3 text-xl" type="submit"></button>
          <div *ngIf="errorMessage" class="text-red-600 mt-2">{{ errorMessage }}</div>
          <div *ngIf="successMessage" class="text-green-600 mt-2">{{ successMessage }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
