<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden">
    <app-navbar></app-navbar>

    <!-- Section Avatar et Email -->
    <div
      class="profile-page py-4 px-4 md:mx-6 lg:mx-8 lg:px-8 flex flex-wrap align-items-center justify-content-between relative lg:static mb-3">
      <div class="user-info">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" size="xlarge"
                  shape="circle"/>
        <h2 *ngIf="user?.email">{{ 'Bienvenue ' + user.email.split('@')[0] | titlecase }}</h2>
      </div>
    </div>

    <!-- Section Graphiques -->
    <div class="grid p-fluid">
      <div class="col-12 lg:col-3">
        <div class="card">
          <h5>Kilomètres courus de la semaine</h5>
          <p-chart *ngIf="barData$ | async as barData" type="bar" [data]="barData" [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div class="col-12 lg:col-3">
        <div class="card">
          <h5>Kilomètres courus du mois</h5>
          <p-chart *ngIf="lineData$ | async as lineData" type="bar" [data]="lineData"
                   [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div class="col-12 lg:col-3">
        <div class="card">
          <h5>Allure moyenne de la semaine</h5>
          <p-chart *ngIf="lineData$ | async as lineData" type="line" [data]="lineData"
                   [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div class="col-12 lg:col-3">
        <div class="card">
          <h5>Allure moyenne du mois</h5>
          <p-chart *ngIf="lineData$ | async as lineData" type="line" [data]="lineData"
                   [options]="chartOptions"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
